ion-content {
  --background: #f5f5f5;
}

ion-card {
  margin-bottom: 20px;
}

h3 {
  color: var(--ion-color-primary);
  margin-top: 20px;
}

ion-button {
  margin-top: 10px;
}

ion-footer {
  text-align: center;
  font-size: 0.8rem;
}